* {
  box-sizing: border-box;
}
.heading{
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  margin: auto;
  border-radius: 2px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
  color: white;
  background-color: black;
}
.main{
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 750px; /* Optional: set a maximum width for the form */
  margin: auto;
}
.form{
  margin-top: 20px;
  border: 1px solid black;
  padding: 20px;
  background-color: rgba(193,189,189,0.492);
}
.name{
  border: none;
  border-radius: 3px;
  margin-left: 53.5px;
  width: 50%;
  line-height: 25px;
  outline: none;
  
}
.row{
  margin-top: 15px;
}

.btn{
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 20px;
}
.button{
  background-color: black;
  color: white;
  width: 25%;
  padding: 5px;
}
#message{
  outline: none;
  border: none;
  border-radius: 3px;
  margin-left: 54px;
  height: 100px;
  width: 60%;
}
.time{
  border: none;
  border-radius: 3px;
  margin-left: 61.1px;
  width: 50%;
  line-height: 25px;
  outline: none;
  
}
.venue{
  border: none;
  border-radius: 3px;
  margin-left: 33px;
  width: 50%;
  line-height: 25px;
  outline: none;
  
}
.registrationLink{
  border: none;
  border-radius: 3px;
  margin-left: 17.7px;
  width: 50%;
  line-height: 25px;
  outline: none;
  
}
.last{
  display: flex;
}
.date{
  border: none;
  border-radius: 3px;
  margin-left: 61.3px;
  width: 50%;
  line-height: 25px;
  outline: none;
  
}
@media (max-width: 850px) {
  .form {
    padding: 10px;
  }
  .name, .time, .venue, .registrationLink, .date {
    width: 45%;
  }
  .input1{
    margin-left: 59.5px;
  }
  .input2{
    margin-left: 66.8px;
  }
  .input3{
    margin-left: 38.9px;
  }
  .input4{
    margin-left: 22.5px;
  }
  .input5{
    margin-left: 67.2px;

  }
  
  #message{
    margin-left:10px;
    
  }
  .main{
    width:350px;
  }
  #image{
    margin-left: 30px;
  }
  .last{
    display: flex;
  }
}

@media (max-width: 480px) {
  .heading {
    padding-left: 20px;
    padding-right: 20px;
  }
  .input1, .input2, .input3, .input4, .input5 {
    width: 100%;
  }
}
#image{
  margin-left: 95px;
}

.button:hover{
color: black;
background-color: white;
cursor: pointer;
}